/* uview.scss */

$u-main-color: #3B3C41;
$u-content-color: #606266;
$u-tips-color: #909399;
$u-light-color: #c0c4cc;
$u-border-color: #e4e7ed;
$u-bg-color: #f3f4f6;

$u-type-primary: #F55247;
$u-type-primary-light: #ecf5ff;
$u-type-primary-disabled: #a0cfff;
$u-type-primary-dark: #2b85e4;

$u-type-warning: #F1D3A8;
$u-type-warning-disabled: #fcbd71;
$u-type-warning-dark: #f29100;
$u-type-warning-light: #fdf6ec;

$u-type-success: #19be6b;
$u-type-success-disabled: #71d5a1;
$u-type-success-dark: #18b566;
$u-type-success-light: #dbf1e1;

$u-type-error: #fa3534;
$u-type-error-disabled: #fab6b6;
$u-type-error-dark: #dd6161;
$u-type-error-light: #fef0f0;

$u-type-info: #909399;
$u-type-info-disabled: #c8c9cc;
$u-type-info-dark: #82848a;
$u-type-info-light: #f4f4f5;

$u-form-item-height: 70rpx;
$u-form-item-border-color: #dcdfe6;

/* uni.scss */

$uni-color-primary: #F55247; // 选中色
$uni-color-warning: #F1D3A8; // 警告
$uni-border-color:#F0EFF0; // 边框色
$uni-text-color:#3B3C41; // 文字基本色
$uni-text-color-grey:#9598A2;// 辅助灰色，如加载更多的提示信息
$uni-text-color-placeholder: #D5D4DB; // 描述色
$uni-bg-color:#F6F6F8; //背景色
